body {
  background-color: #f5f6fa;
}

table {
  width: 100%;
  border-collapse: collapse;
  position: relative;
  text-align: left;
}

th,
td {
  padding: 8px;
}

th {
  position: sticky;
  top: -20px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  background: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.state {
  position: absolute;
  right: 20px;
  font-size: 16px;
  background-color: yellow;
  padding: 10px 20px;
  text-transform: uppercase;
}

.summary-panels {
  display: grid;
  grid-template-columns: 200px 200px 300px;
  gap: 20px;
  margin-bottom: 20px;
}

.summary-panels .g-span {
  grid-column: 1 / span 2;
}

.BuyTable {
  margin-top: 20px;
  margin-bottom: 100px;
}

.BuyTable tbody tr td:nth-child(4) {
  width: 10%;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
}

.Chart {
  overflow: hidden;
}

.negative {
  color: red;
}

.positive {
  color: green;
}

.InvestmentsChart {
  margin-bottom: 20px;
  max-width: 1000px;
}

input {
  padding: 8px;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .InvestmentTable tr th:first-child,
  .InvestmentTable tr th:nth-child(3),
  .InvestmentTable tr th:nth-child(6),
  .InvestmentTable tr td:first-child,
  .InvestmentTable tr td:nth-child(3),
  .InvestmentTable tr td:nth-child(6) {
    display: none;
  }

  .summary-panels {
    grid-template-columns: 1fr 1fr;
  }

  .InvestTotals,
  .InvestTotals > .Tile {
    max-width: 100%;
  }
}
