.InvestTotals {
    max-width: 200px;
}

.InvestTotals > .Tile {
    max-width: 35vw;
}

.InvestTotals > .Tile h4 {
    color: white;
}

.InvestTotals > .Tile h5 {
    font-size: 40px;
    margin: 10px 0;
}

.InvestTotals > .Tile.overall-total {
    background-color: #78c350;
    color: white;
}
